<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952267230024-rm3fld6bt5ignd415r96l1gpai2jr0gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952267230024-rm3fld6bt5ignd415r96l1gpai2jr0gt</string>
	<key>API_KEY</key>
	<string>AIzaSyCauySBt2nc6NY58xH_165Z6B1fkAVdSF8</string>
	<key>GCM_SENDER_ID</key>
	<string>952267230024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yardimfeneri.yardimfeneri</string>
	<key>PROJECT_ID</key>
	<string>yardimfeneri</string>
	<key>STORAGE_BUCKET</key>
	<string>yardimfeneri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952267230024:ios:b8d8bc762469e29b78c17d</string>
</dict>
</plist>